.nav-apos{
  width: 100%;
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.2);
}

.brand-container{
  float: left;
  width:300px;
  height:80px;
}

.menu-container{
  float: right;
  width: 150px;
  height: 80px;
}

.brandlogo{
  float: left;
  clear: both;
  width:90px;
  height: 80px;
  padding-top: 5px;
}

.brandname{
  float: left;
  height: 40px;
  padding: 15px 15px;
  font-family: georgia;
  font-size: 30px;
  line-height: 20px;
  color: #FF6334;
}

.brand-desciption{
  position: relative;
  left: 15px;
  height: 20px;
  width: 300px;
  padding-top: 50px;
  font-family: raleway;
  font-size: 14px;
  color: #000;
}

.menu-text{
  float:right;
  padding-top: 28px;
  width: 60px;
  height: 80px;
  font-family: raleway;
  font-size: 14px;
  color: #000;
}

.menu-icon{
  float:right;
  padding-top: 25px;
  padding-right: 20px;
  width: 60px;
  height: 80px;
}
